@implements IDisposable

@inject NavigationManager NavigationManager

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Электронный журнал учёта</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Главная
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="departments">
                <span class="bi bi-building-nav-menu" aria-hidden="true"></span> Отделы
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="branches">
                <span class="bi bi-building-nav-menu" aria-hidden="true"></span> Филиалы
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="accounts">
                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Сотрудники
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="interns">
                <span class="bi bi-people-nav-menu" aria-hidden="true"></span> Стажеры
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="transactions">
                <span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> Транзакции
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-bar-chart-nav-menu" aria-hidden="true"></span> Отчёты
            </NavLink>
        </div>

    </nav>
</div>

<style>
    .sidebar {
        width: 300px !important;
    }
</style>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}

